.header {
    margin: 0% 1% 5% 0%;
}

.img{
  width: 100px;
  height: 100px;
  margin-left: 20%;
}

.nav-link {

  font-weight: normal;
}

/* Style of active links */
.nav-link.active {
  color: #8233f3 !important;
  font-weight: bold;
}