.header {
    margin: 0% 1% 5% 1%;
  }

  .nav-link {
    color: #000;
    font-weight: normal;
  }

  /* Style pour les liens actifs */
  .nav-link.active {
    font-weight: bold;
    color: #8233f3;
  }
