body{
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 9vh;
  margin: 0% 0% 5% 0%;
}

.img{
  width: 100px;
  height: 100px;
  margin-left: 20%;
}

.nav-link {
  color: black;
  font-weight: normal;
}

.nav-link.active {
  color: #8233f3 !important;
  font-weight: bold;
}