body{
  font-family: 'Roboto', sans-serif;
}

.slider{
  position: relative;
  background-image: url('../racks_black.jpg');
  width: 100vw;
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-top: 17px;
}

.slider h1{
  color: white;
  z-index: 1;
}

.slider .main-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
    
.slider .overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 50, 241, 0.2);
}

.cards {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5% 10% 0% 10%
}

.datacenters, .infrastructures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 320px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

ul{
  list-style: none;
  margin: 30px 0px 0px 0px;
}

li{
  margin: 11px 0px 0px 0px;

}

.title_card, .name {
  margin: 30px 0px 0px 0px ;
  color: #8032f1;
  text-transform: capitalize;

}

.description {
  font-style: italic;
}

.datacenters ul, .infrastructures ul{
  display: flex;
  flex-direction: column ;
}

a{
  text-decoration: none;
}